<!DOCTYPE html>
<html>
<head>
    <title>Listado de Barrios</title>
</head>
<body>
    <h1>Listado de Barrios</h1>
    <a href="{% url 'crear_barrio' %}">Agregar Barrio</a>
    <table border="1">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Parroquia</th>
                <th>Nro. Viviendas</th>
                <th>Nro. Parques</th>
                <th>Nro. Edificios Residenciales</th>
            </tr>
        </thead>
        <tbody>
            {% for barrio in barrios %}
                <tr>
                    <td>{{ barrio.nombre }}</td>
                    <td>{{ barrio.parroquia.nombre }}</td>
                    <td>{{ barrio.numero_viviendas }}</td>
                    <td>{{ barrio.numero_parques }}</td>
                    <td>{{ barrio.numero_edificios_residenciales }}</td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="5">No hay barrios registrados.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
